name: Publish release

on:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - '**.md'
      - 'Writerside'
      - 'docs'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: MineInAbyss/publish-action@keep-a-changelog
        with:
          build-tasks: 'shadowJar'
          release-files: |
            dist/jvm/*.jar
      - name: Stop gradle daemon
        run: ./gradlew --stop
